{% extends "index.html" %}
{% block head %}
{% load static %}
  {% if not allow_reference %}
  <script>
    var tries = {{ tries }};
    var time_per_try = {{ time_per_try }};
    var focused = true;

    window.onblur = function() {
      if (tries == 0) {
        submitAnswers();
      } else {
        displayAlert();
      }
    };

    var displayAlert = function() {
      if (focused) {
        tries -= 1;
        focused = false;
        showPopUp();
      }
    };

    var showPopUp = function() {
      focused = false;
      popup = document.getElementById("my-popup");
      
      // Change number of tries
      popup_tries = document.getElementById("popup-tries");
      popup_tries.innerText = tries;

      //Start countdown
      popup_seconds = document.getElementById("popup-seconds");
      popup_seconds.innerText = time_per_try / 1000;

      // Move countdown every sec
      cntdwn_interval = setInterval(moveCountdown, 1000);

      // Submit answers on timeout
      submit_timeout = setTimeout(submitAnswers, time_per_try)

      popup.style.display = "block";
    };

    var moveCountdown = function() {
      if (popup_seconds.innerText > 0) {
        popup_seconds.innerText -= 1;
      }
    };

    var deletePopUp = function() {
      clearTimeout(submit_timeout);
      clearInterval(cntdwn_interval);
      focused = true;
      popup.style.display = "none";
    };

    var submitAnswers = function() {
      document.getElementById("answerForm").submit();
    };

  </script>
  {% endif %}
  <style>
    /* Taken from https://insidethediv.com/how-to-create-popup-modal-box-in-javascript */
    #my-popup{
      Background: white;
      border: 1px solid blue;
        border-radius: 5%;
      Padding: 20px;

      Position: fixed;
      top: 50%;
      left: 50%;
      Transform: translate(-50%,-50%);

      display: none;
    }

    #popup-cntdwn{
        padding-left: 20%;
        padding-right: 20%;
    }

    #popup-close-btn{
        padding-left: 20%;
        padding-right: 20%;
    }
  </style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static "basic.css" %}" rel="stylesheet" />
{% endblock %}
{% block main_body %}
{% if not allow_reference %}
<div id="my-popup">
  <div id="popup-text">Opening new tabs is not allowed. <label id="popup-tries">tries</label> tries left</div>
  <div id="popup-cntdwn">You have <h1><label id="popup-seconds">N</label></h1> seconds left</div>
  <button id="popup-close-btn" onclick="deletePopUp()">Continue test</button>
</div>
{% endif %}
<div class="container-fluid">
    <div class = "main">
      <div>
        {% autoescape off %}
            <form id="answerForm" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
                {% for question in questions %}
                <div class="quizQuestion">
                  {% if question.1.question_type == "multiple_choice" %}
                    <b>Question {{ question.0 }}.</b> <br />
                    {{ question.1.question_text }} <br />
                    {% for answer in question.1.get_answers %}
                      <input type="radio" name="question_{{ question.1.id }}" value="{{ answer.answer_text }}"> {{ answer.answer_text }}<br />
                    {% endfor %}
                  {% elif question.1.question_type == "short_answer" %}
                    <b>Question {{ question.0 }}.</b> <br />
                    {{ question.1.question_text.0 }} <textarea cols="80" rows="1" name="question_{{ question.1.id }}"></textarea> {{ question.1.question_text.1 }} <br />
                    <!-- <b>Your answer:</b> <br /> <br /> -->
                  {% endif %}
                {% if allow_reference %}
                <a href="{{ reference_url }}/articlesByTag/{{ question.1.error_tag }}" target="_blank" rel="noopener noreferrer">See reference</a>
                {% endif %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        {% endautoescape %}
      </div>
    </div>
</div>
{% endblock %}