exam/
exam2017/
examples/
media/**
models_data/
moodle_exercises/
mediafiles/
staticfiles/
test_data/
testing_platform/settings.py
trash/
ve_win/
ve/g
api_test_files/
DisGen/distractor_service_input_files/**
DisGen/distractor_service_output_files/**
localbase
__pycache__
*dump*.json
*.ipynb
.vscode
.idea
*.bat
*.sh
*.xlsx
env.prod
*.env
.goutputstream*
