exam/
exam2017/
examples/
media/**
models_data/
moodle_exercises/
mediafiles/
staticfiles/
test_data/
testing_platform/settings.py
trash/
ve_win/
ve/
langexbank_env/
*_env/
env/
api_test_files/
DisGen/distractor_service_input_files/**
DisGen/distractor_service_output_files/**
localbase
__pycache__
*dump*.json
.ipynb_checkpoints
.vscode
.idea
*.bat
*.xlsx
env.prod
*.env
.goutputstream*
ТЗ.txt
db.json
*_mediafiles/
admins.txt
admins.txt
*.xlsx
