nltk
django
django_extensions
pandas
xlrd
openpyxl
transliterate
sklearn
torch==1.7.0
torchtext==0.6.0
lemminflect
spacy
pyspellchecker
django-searchable-encrypted-fields
gunicorn
textdistance
