nltk==3.5
django==3.0.6
django_extensions==2.2.9
pandas==1.0.3
xlrd==1.2.0
openpyxl==3.0.3
transliterate==1.10.2
sklearn
torch==1.7.0
torchtext==0.6.0
lemminflect==0.2.1
spacy==2.2.4
pyspellchecker==0.5.4
django-searchable-encrypted-fields
gunicorn
textdistance==4.2.0
