{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block content_title %} <h1>Populate the database with random users</h1> {% endblock %}
{% block content_subtitle %} Use this form to populate the platform database with selected number of Users with selected rights{% endblock %}

{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data">
        <div>
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <div class="form-row">
                Number of users: <input type="number" name="number" id="number" required />
                Type of rights: <select name="rights" id="rights">
                                    {% for role in rights %}
                                    <option value="{{ role.0 }}"> {{ role.1 }} </option>
                                    {% endfor %}
                                </select>
            </div>
            <div class="form-row">
                <input type="checkbox" name="save" id="save"/> Save generated users to a JSON file
                <input type="text" name="filename" id="filename" value="Generated_users.json"/>
            </div>
        </div>
        <div>
            <input type="submit" class="form-row" value="Generate random users" />
        </div>
    </form>
</div>
{% endblock %}